In [1]:
from src.data import DataLoader

In [4]:
dl = DataLoader()
result = dl.get_weather_data(start_date='2018-01-01', end_date='2018-12-31', data_type='TMAX', location_id="FIPS:06093")
result

Error: 503, <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>503 Service Unavailable</title>
</head><body>
<h1>Service Unavailable</h1>
<p>The server is temporarily unable to service your
request due to maintenance downtime or capacity
problems. Please try again later.</p>
<p>Additionally, a 503 Service Unavailable
error was encountered while trying to use an ErrorDocument to handle the request.</p>
</body></html>

In [5]:
result = dl.get_stocks_data('CORN', 2022, national_level=True)
result

short_desc,year,end_month,state_name,"CORN, GRAIN - STOCKS, MEASURED IN BU","CORN, OFF FARM, GRAIN - STOCKS, MEASURED IN BU","CORN, ON FARM, GRAIN - STOCKS, MEASURED IN BU"
0,2022,03,US TOTAL,7757036000,3678036000,4079000000
1,2022,06,US TOTAL,4348968000,2228268000,2120700000
2,2022,09,US TOTAL,1376890000,867390000,509500000
3,2022,12,US TOTAL,10813207000,4073207000,6740000000
4,2023,03,US TOTAL,7396403000,3291403000,4105000000
5,2023,06,US TOTAL,4103309000,1886509000,2216800000
6,2023,09,US TOTAL,1360201000,755801000,604400000
7,2023,12,US TOTAL,12171163000,4341163000,7830000000
8,2024,03,US TOTAL,8352378000,3273378000,5079000000
9,2024,06,US TOTAL,4997048000,1971048000,3026000000
10,2024,09,US TOTAL,1763400000,983000000,780400000
11,2024,12,US TOTAL,12074194000,4411194000,7663000000